<font color='#2F4F4F'>To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# <font color='#2F4F4F'>AfterWork Data Science: Web Scraping with Python</font>

## <font color='#2F4F4F'>Prerequisites</font>

In [1]:
# We first import the required libraries
# ---
#
import pandas as pd             # library for data manupation
import requests                 # library for fetching a web page 
from bs4 import BeautifulSoup   # library for extrating contents from a webpage

## <font color='#2F4F4F'>Step 1: Obtaining our Data</font>

In [2]:
# PigiaMe: https://www.pigiame.co.ke/it-software-jobs
# ---
#
pigia_me = requests.get('https://www.pigiame.co.ke/it-software-jobs')
pigia_me

In [3]:
# to check if the status is ok"
pigia_me.ok

True

In [4]:
# MyJobMag: https://www.myjobmag.co.ke/jobs-by-field/information-technology
# ---
#
# YOUR CODE GOES HERE
my_job_mag = requests.get('https://www.myjobmag.co.ke/jobs-by-field/information-technology')
my_job_mag

In [5]:
# KenyanJob: https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133
# ---
#
# YOUR CODE GOES HERE
kenyan_job = requests.get('https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133')
kenyan_job

## <font color='#2F4F4F'>Step 2: Parsing</font>

In [6]:
# Parsing our document: pigia_me
# ---
# 
# YOUR CODE GOES HERE
pigia_me_soup = BeautifulSoup(pigia_me.text,'html.parser')

In [7]:
# Parsing our document: my_job_mag
# ---
#  
# YOUR CODE GOES HERE
my_job_mag_soup = BeautifulSoup(my_job_mag.text,'html.parser')

In [8]:
# Parsing our document: kenyan_job
# ---
# 
# YOUR CODE GOES HERE
kenyan_job_soup = BeautifulSoup(kenyan_job.text,'html.parser')

## <font color='#2F4F4F'>Step 3: Extracting Required Elements</font>

In [9]:
# create a function to extract data from pigia me website
pigia_me_titles = []
pigia_me_links = []
divs = pigia_me_soup.find_all('div',attrs={'class':'listings-cards__list-item'})
for d in divs:
  titles = d.find_all('div',{'class':'listing-card__header__title'})
  for title in titles:
    pigia_me_titles.append(title.text.strip())
    # print(t.text.strip())
  links = d.find_all('a')
  for link in links:
    pigia_me_links.append(link.get('href'))

print('Number of Links: ', len(pigia_me_links))
print('Number of Titles: ', len(pigia_me_titles))

Number of Links:  10
Number of Titles:  10

In [10]:
# create a function to extract data from myjobmag website
my_job_mag_titles = []
my_job_mag_links = []
job_list = my_job_mag_soup.find_all('li',attrs={'class':'job-list-li'})
for job in job_list:
  heads = job.find_all('h2')
  if len(heads) > 0:
    for head in heads:
      links = head.find_all('a')
      for link in links:
        url = 'https://www.myjobmag.co.ke' + link.get('href')
        title = link.text
        my_job_mag_links.append(url)
        my_job_mag_titles.append(title)
print('Number of Links: ', len(my_job_mag_links))
print('Number of Titles: ', len(my_job_mag_titles))

Number of Links:  18
Number of Titles:  18

In [11]:
# create a function to extract data from kenya job website
kenya_job_titles = []
kenya_job_links = []
job_list = kenyan_job_soup.find_all('div',attrs={'class':'job-description-wrapper'})
for job in job_list:
  kenya_job_links.append(job.get('data-href'))
  heads = job.find_all('h5')
  for head in heads:
    links = head.find_all('a')
    for link in links:
      kenya_job_titles.append(link.text)
print('Number of Links: ', len(kenya_job_links))
print('Number of Titles: ', len(kenya_job_titles))

Number of Links:  25
Number of Titles:  25

## <font color='#2F4F4F'>Step 4: Saving our Data</font>

In [12]:
# Saving the scraped contents in a dataframe and preview our data
# ---
#
# YOUR CODE GOES HERE
pigia_me_df = pd.DataFrame({'title':pigia_me_titles,'link':pigia_me_links,'source':'Pigia Me'})
print(pigia_me_df.shape)
pigia_me_df.head()

(10, 3)

                                         title  ...    source
0                             Business Analyst  ...  Pigia Me
1  FULLSTACK DEVELOPER - Python Django / VueJS  ...  Pigia Me
2           Software Developer (Donor Project)  ...  Pigia Me
3         Assistant Manager – Data Engineering  ...  Pigia Me
4            Supervisor – Full Stack Developer  ...  Pigia Me

[5 rows x 3 columns]

In [13]:
my_job_mag_df = pd.DataFrame({'title':my_job_mag_titles,'link':my_job_mag_links,'source':'My Job Mag'})
print(my_job_mag_df.shape)
my_job_mag_df.head()

(18, 3)

                                               title  ...      source
0  Flutter Application Developer at Livecode Tech...  ...  My Job Mag
1  Senior Technical Manager, DevOps at Palladium ...  ...  My Job Mag
2  Junior UX/UI Designer at Africa Digital Media ...  ...  My Job Mag
3  Information Technology (I.T) Intern at Deloitt...  ...  My Job Mag
4           ICT Technician at Mount Kenya University  ...  My Job Mag

[5 rows x 3 columns]

In [14]:
kenya_job_df = pd.DataFrame({'title':kenya_job_titles,'link':kenya_job_links,'source':'Kenya Job'})
print(kenya_job_df.shape)
kenya_job_df.head()

(25, 3)

                                     title  ...     source
0        Mid Frontend Developer (React JS)  ...  Kenya Job
1       Mid Level Backend Developer (Java)  ...  Kenya Job
2       Mid Level Backend Developer (.NET)  ...  Kenya Job
3  Mid Level Front End Developer (Angular)  ...  Kenya Job
4                  Mid Level IOS Developer  ...  Kenya Job

[5 rows x 3 columns]

In [15]:
pigia_me_df.isnull().sum()

title     0
link      0
source    0
dtype: int64

In [16]:
my_job_mag_df.isnull().sum()

title     0
link      0
source    0
dtype: int64

In [17]:
kenya_job_df.isnull().sum()

title     0
link      0
source    0
dtype: int64

In [18]:
# append all the dfs together
df = pd.concat([pigia_me_df,my_job_mag_df,kenya_job_df])
print(df.shape)
df.head()

(53, 3)

                                         title  ...    source
0                             Business Analyst  ...  Pigia Me
1  FULLSTACK DEVELOPER - Python Django / VueJS  ...  Pigia Me
2           Software Developer (Donor Project)  ...  Pigia Me
3         Assistant Manager – Data Engineering  ...  Pigia Me
4            Supervisor – Full Stack Developer  ...  Pigia Me

[5 rows x 3 columns]

In [19]:
df.source.value_counts()

Kenya Job     25
My Job Mag    18
Pigia Me      10
Name: source, dtype: int64